body{
    margin: 0;
    background-color: black;
    display: block;
}

li a {
    float: left;
    display: block;
    color: white;
    padding: .75em;
    border-radius: 1em;
}

button {
    background-color: white;
    padding: .75em;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    margin: auto;
    width: 24%;
}


p, h1, nav, ul, table, form, img{
    padding: 1em;
    text-align: center;
    border-radius: 1em;
    width: 75%;
    margin: auto;
    background-color:#251111;
    color: white;
}

p, h1, nav, table, td{
    border: solid;
    border-color:#604d4d;
}

h1{
    font-size:2.5em;
}

table, td {
    font-weight: bold;
    width: 40%;
    font-size: 1.2em;
    border-radius: 1em;
}

img {
    display: block;
    border:solid;
    width: 256px;
    height: 176.5px;
    margin-left: auto;
    margin-right: auto;
    border-color:#604d4d;
}