<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" type="text/css" href="Index.css" />
</head>
<nav>
    <ul>
        <button><a href="http://localhost:8082/home">Home</a> </button>
        <button><a href="http://localhost:8082/profile">Profile</a> </button>
        <button><a href="http://localhost:8082/signup.html">Sign Up</a> </button>
        <button><a href="http://localhost:8082/upload">Upload</a> </button>
    </ul>
</nav>

<body>
<h1>Error Page</h1>
<p>Something went wrong...</p>

<p>Return to <a href="http://localhost:8082/home">Home</a> </p>

</body>
</html>