<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" type="text/css" href="Index.css" />
</head>
<nav>
    <ul>
        <button><a href="http://localhost:8082/home">Home</a> </button>
        <button><a href="http://localhost:8082/profile">Profile</a> </button>
        <button><a href="http://localhost:8082/upload">Upload</a> </button>
    </ul>
</nav>

<body>
<h1>Profile Page</h1>
<p>Profile page of <%= username %></p>

<p><a href="http://localhost:8082/logout">LOGOUT</a> </p>

</body>
</html>